.half-size {
    width: 50%;
    height: 50%;
}
.fixed-size {
    max-width: 400px;
    max-height: 500px;
}
.md-fab.scroll-fab {
    position: fixed !important;

    transform: scale(0);
    transition: transform 0.2s;
}
.scroll-fab.scrolling {
    transform: scale(1);
}
.test {
    color: rgb("")
}