.site-notice {
	/* Add a material design warn colour */
	background-color: #FF5722;
	color: white;
	align-items: center;
}
.site-notice > md-icon {
	padding-left: 15px;
	color: white;
}
.site-notice > p {
	padding-left: 15px;
}
/* Links */
.links {
    color: #8A2BE2;
}
.fab:hover .fab-share {
    display:block;
}
.note {
    color: #8B4513;
}
.wip {
    color: red;
}
/* Material Icons */
.select {
  padding: 2dp;
}
.important {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
}
.md-toggle-icon {
    display: block;
    margin-left: auto;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.15s ease-in-out;
    -webkit-transition: -webkit-transform 0.15s ease-in-out;
}
.md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
site-toolbar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 30;
}
.md-select-field {
	width: 200px;
}
fieldset > legend {
	color: #3F51B5;
}
md-content.md-padding > site-toolbar {
	padding: 0;
}