---
---

@charset 'utf-8';

.md-refresh {
  font-family: Montserrat, Roboto, sans-serif;
  /* Button stylings which (mostly) adhere to the 2018 material design spec */
  button.md-button:not(.md-icon-button):not(.md-fab) {
    border-radius: 4px;
    height: 36px;
    letter-spacing: 0.08929em;
    min-width: 64px;
    // text-transform: capitalize;
  }
  // Similar to Angular Material's stroked button
  button.md-button.md-outline-button, button.md-button.md-stroked-button {
    border: 1px solid;
  }
  // Styles the icon button to have a bigger touch target.
  button.md-icon-button, a.md-icon-button {
    height: 48px !important;
    width: 48px !important;
  }
  md-checkbox .md-icon {
    // Scales down the checkbox's icon to be 16x16.
    transform: scale(0.8);
  }
  // Styles the inner checkbox icon to be a circle
  md-checkbox.md-round-checkbox .md-icon, md-checkbox.md-circle-checkbox .md-icon {
    border-radius: 50%;
  }
  // Styles for the Menu component
  .md-open-menu-container {
    border-radius: 4px !important;
    md-menu-content>md-menu-item>button.md-button {
      // Redeclaration of styles that were overriden with the button style above
      border-radius: 0 !important;
      font-size: 14px !important;
      height: 100% !important;
    }
  }
  // Styles for the Switch component
  md-switch>.md-container>.md-bar {
    width: 36px;
  }
  // Styles for the tooltip component
  // Styles for desktop
  @media (min-width: 960px) {
    md-tooltip {
      height: 24px;
      line-height: 24px;
    }
  }
  md-toast .md-toast-content {
    min-width: 344px;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    font-size: 14px;
    padding: 0 16px;
  }
}
