---
---
@charset "utf-8";

$mdc-theme-primary: #3948ab;
$mdc-theme-secondary: #ff4081;
$mdc-theme-background: #fafafa;
$mdc-theme-error: #f44336;

@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/chips/mdc-chips";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/icon-button/mdc-icon-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/ripple/mdc-ripple";
@import "@material/snackbar/mdc-snackbar";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/mdc-theme";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "../syntax-highlighting";

body {
  margin: 0;
}

#page-content {
  padding-left: 5%;
  padding-right: 5%;
}

code, kbd, samp, pre, var {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

strong {
  font-weight: 500;
}

// Does not override any elements with any existing classes
.article, .page, .post {
  h1:not([class]) {
    @extend .mdc-typography--headline3;
  }
  h2:not([class]) {
    @extend .mdc-typography--headline4;
  }
  h3:not([class]) {
    @extend .mdc-typography--headline5;
  }
  h4:not([class]) {
    @extend .mdc-typography--headline6;
  }
  h5:not([class]) {
    @extend .mdc-typography--subtitle1;
  }
  h6:not([class]) {
    @extend .mdc-typography--subtitle2;
  }
  p:not([class]), li:not([class]) {
    @extend .mdc-typography--body1;
  }
}

.card {
  img.card__media {
    width: 100%;
  }
  .card__primary {
    padding: 1rem;
  }
  .card__secondary {
    padding: 0 1rem 8px;
  }
  .card__title, .card__subtitle, .card__overline {
    margin: 0;
  }
  
  .card__secondary, .card__subtitle {
    color: var(--mdc-theme-text-secondary-on-background, rgba(0,0,0,.54));
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  #app-bar {
    display: none;
  }
}

#page-content {
  padding-top: calc(5% + 64px);
}
@media (max-width: 599px) {
  #page-content {
    padding-top: calc(5% + 56px);
  }
}

#share-dialog-text-field {
  width: 100%;
}
