---
---
@charset "utf-8";

$mdc-theme-primary: #3948ab;
$mdc-theme-secondary: #ff4081;
$mdc-theme-background: #fafafa;
$mdc-theme-error: #f44336;

@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/chips/mdc-chips";
@import "@material/drawer/mdc-drawer";
@import "@material/icon-button/mdc-icon-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/ripple/mdc-ripple";
@import "@material/theme/mdc-theme";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "../syntax-highlighting";

body {
  margin: 0;
}

#page-content {
  padding-left: 5%;
  padding-right: 5%;
}

code, kbd, samp, pre, var {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

strong {
  font-weight: 500;
}

.article {
  h1 {
    @extend .mdc-typography--headline3;
  }
  h2 {
    @extend .mdc-typography--headline4;
  }
  h3 {
    @extend .mdc-typography--headline5;
  }
  h4 {
    @extend .mdc-typography--headline6;
  }
  h5 {
    @extend .mdc-typography--subtitle1;
  }
  h6 {
    @extend .mdc-typography--subtitle2;
  }
  p, li {
    @extend .mdc-typography--body1;
  }
}

.card {
  img.card__media {
    width: 100%;
  }
  .card__primary {
    padding: 1rem;
  }
  .card__secondary {
    padding: 0 1rem 8px;
  }
  .card__title, .card__subtitle, .card__overline {
    margin: 0;
  }
  
  .card__secondary, .card__subtitle {
    color: var(--mdc-theme-text-secondary-on-background, rgba(0,0,0,.54));
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  #app-bar {
    display: none;
  }
}

#page-content {
  padding-top: calc(5% + 64px);
}
@media (max-width: 599px) {
  #page-content {
    padding-top: calc(5% + 56px);
  }
}

