---
permalink: /404.html
---
<html ng-app="errorApp">

<head>
    <!--Import-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
	<link href="/css/main.css" rel="stylesheet">
	<script src="/lib/404.js"></script>
	<script src="/lib/dependencies.js"></script>
	<link href="favicon.ico" rel="shortcut icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="The 404 page. This is loaded when a URL is not found." />
</head>
<title>You Lost Your Way! - Error 404</title>

<body ng-controller="MainController" onload="debug()">
	<!--mdToolbar-->
	<md-progress-linear md-mode="indeterminate" id="progress" class="md-accent"></md-progress-linear>
	<div class="site-notice" ng-hide="hideAlert" flex layout="row">
		<md-icon md-svg-icon="alert"></md-icon>
		<p>This website will be deprecated soon in favour of the new site.</p>
		<span flex></span>
		<md-button href="https://github.com/Chan4077/chan4077.github.io/issues/34" hide-xs>Learn more</md-button>
		<md-button href="https://githubpageschan4077.firebaseapp.com" class="md-raised" hide-xs>Visit new site</md-button>
		<md-button href="https://github.com/Chan4077/chan4077.github.io/issues/34" hide show-xs class="md-icon-button">
			<md-icon md-svg-icon="information"></md-icon>
			<md-tooltip>Learn more</md-tooltip>
		</md-button>
		<md-button href="https://githubpageschan4077.firebaseapp.com" class="md-icon-button" hide show-xs>
			<md-icon md-svg-icon="open-in-new"></md-icon>
			<md-tooltip>Visit new site</md-tooltip>
		</md-button>
	</div>
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<!--Sidenav Button-->
			<md-button class="md-icon-button" aria-label="Toggle Side Navigation" ng-click="goBack()">
				<md-tooltip>
					Go Back
				</md-tooltip>
				<md-icon md-svg-icon="arrow-left" aria-label="arrow-left"></md-icon>
			</md-button>
			<h2 class="md-flex">
				404 Error: not found
			</h2>
			<span flex></span>
			<!--Refresh-->
			<md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshPage()">
				<md-tooltip>
					Refresh
				</md-tooltip>
				<md-icon md-svg-icon="refresh" aria-label="refresh"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout="column" id="main">
		<md-card>
			<md-card-header>
				<md-card-avatar>
					<img src="/img/error.svg" />
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-title">Error 404</span>
					<span class="md-subhead">URL Not Found</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Error 404</span>
					<span class="md-subhead">Unfortunately, you've reached a page that either does not exist or there used to be but now not.</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="goBack()" class="md-accent">Go Back</md-button>
				<md-button ng-click="main()" class="md-primary">Go Home</md-button>
				<md-button ng-click="about()">About This Page</md-button>
			</md-card-actions>
		</md-card>
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Latest</span>
					<span class="md-subhead">Commits</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">This <a href="https://chan4077.github.io" style="text-decoration: none;">Website's Commits</a></span>
					<span class="md-subhead">Check out the latest commits!</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="commit()" class="md-primary">Commits</md-button>
			</md-card-actions>
		</md-card>
	</md-content>
	<!--The toast for when offline and online-->
	<network-toast></network-toast>
</body>

</html>
<script>

    function debug() {
      console.error('Page does not exist!');
      document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
       document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('contents').style.visibility="visible";
      },1000);
  }
}
    }
    // Google Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82448435-1', 'auto');
  ga('send', 'pageview');
</script>
<!--END-->