<div class="mdc-snackbar" id="update-available-snackbar">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label"
         role="status"
         aria-live="polite">
      An update is available!
    </div>
    <div class="mdc-snackbar__actions">
      <button type="button" class="mdc-button mdc-snackbar__action" data-mdc-auto-init="MDCRipple">Update</button>
      <button class="mdc-icon-button mdc-snackbar__dismiss material-icons-outlined" title="Dismiss" data-mdc-auto-init="MDCRipple">close</button>
    </div>
  </div>
</div>
