<script src="{{ "/node_modules/material-components-web/dist/material-components-web.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-82448435-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
<!-- Workbox initialisation -->
<script>
  // Check that service workers are registered
  if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker.js');
    });
  }
</script>
<!-- End Workbox initialisation -->
<!-- Notification for service worker updates -->
<script type="module">
  import {Workbox} from 'https://storage.googleapis.com/workbox-cdn/releases/4.2.0/workbox-window.prod.mjs';
  const updateAvailableSnackbar = mdc.snackbar.MDCSnackbar.attachTo(document.getElementById('update-available-snackbar'));
  
  if ('serviceWorker' in navigator) {
    const wb = new Workbox('/service-worker.js');
  
    // Add an event listener to detect when the registered
    // service worker has installed but is waiting to activate.
    wb.addEventListener('waiting', (event) => {
      // `event.wasWaitingBeforeRegister` will be false if this is
      // the first time the updated service worker is waiting.
      // When `event.wasWaitingBeforeRegister` is true, a previously
      // updated same service worker is still waiting.
      // You may want to customize the UI prompt accordingly.
      console.log(event);
      updateAvailableSnackbar.open();
      updateAvailableSnackbar.listen('MDCSnackbar:closed', (event) => {
        if (event.detail && event.detail.reason) {
          if (event.detail.reason == 'action') {
            // Assuming the user accepted the update, set up a listener
            // that will reload the page as soon as the previously waiting
            // service worker has taken control.
            wb.addEventListener('controlling', (event) => {
              window.location.reload();
            });
            // Send a message telling the service worker to skip waiting.
            // This will trigger the `controlling` event handler above.
            // Note: for this to work, you have to add a message
            // listener in your service worker. See below.
            wb.messageSW({type: 'SKIP_WAITING'});
          }
        }
      })
    });
  
    wb.register();
  }
</script>
<!-- End notification for service worker updates -->
