<aside class="mdc-snackbar" id="update-available-snackbar">
  <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
    <div class="mdc-snackbar__label" aria-atomic="false">
      An update is available!
    </div>
    <div class="mdc-snackbar__actions" aria-atomic="true">
      <button type="button" class="mdc-button mdc-snackbar__action"
        data-mdc-auto-init="MDCRipple">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Update</span>
      </button>
      <button class="mdc-icon-button mdc-snackbar__dismiss material-icons-outlined"
        title="Dismiss" data-mdc-auto-init="MDCRipple">close</button>
    </div>
  </div>
</aside>
