<!-- Tooltips -->
{% for button in page.toolbar_buttons -%}
{%- if button.title and button.id -%}
<div id="{{ button.id | slugify }}-tooltip" class="mdc-tooltip app-tooltip" role="tooltip" aria-hidden="true">
  <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">{{ button.title }}</div>
</div>
{%- endif -%}
{%- endfor -%}
<div id="print-btn-tooltip" class="mdc-tooltip app-tooltip" role="tooltip" aria-hidden="true">
  <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Print</div>
</div>
<div id="more-actions-btn-tooltip" class="mdc-tooltip app-tooltip" role="tooltip" aria-hidden="true">
  <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">More actions</div>
</div>
<!-- Top app bar -->
<header class="mdc-top-app-bar mdc-top-app-bar--fixed" id="app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button role="button"
        class="material-icons-outlined mdc-top-app-bar__navigation-icon mdc-icon-button">
        <div class="mdc-icon-button__ripple"></div>
        menu
      </button>
      <span
        class="mdc-top-app-bar__title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</span>
    </section>

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-typography" role="toolbar">
      {%- if page.toolbar_buttons -%}
      {%- for button in page.toolbar_buttons -%}
      {%- capture button_id -%}{{ button.id | slugify }}{%- endcapture -%}
      {%- capture button_tooltip_id -%}{{ button_id }}-tooltip{%- endcapture -%}
      {%- if button.link -%}
      {%- if button.is_site_link and button.is_site_link == true -%}
      <a class="material-icons-outlined mdc-top-app-bar__action-item mdc-icon-button"
        aria-describedby="{{ button_tooltip_id }}" href="{{ button.link | prepend: site.baseurl }}">
        <div class="mdc-icon-button__ripple"></div>
        {{ button.icon }}
      </a>
      {%- else -%}
      <a class="material-icons-outlined mdc-top-app-bar__action-item mdc-icon-button"
        aria-describedby="{{ button_tooltip_id }}" href="{{ button.link }}">
        <div class="mdc-icon-button__ripple"></div>
        {{ button.icon }}
      </a>
      {%- endif -%}
      {%- else -%}
      <button class="material-icons-outlined mdc-top-app-bar__action-item mdc-icon-button"
        aria-describedby="{{ button_tooltip_id }}"
        id="{{ button_id }}">
        <div class="mdc-icon-button__ripple"></div>
        {{ button.icon }}
      </button>
      {%- endif -%}
      {%- endfor -%}
      {%- elsif layout.toolbar_buttons -%}
      {%- for button in layout.toolbar_buttons -%}
      {%- if button.link -%}
      {%- if button.is_site_link and button.is_site_link == true -%}
      <a class="material-icons-outlined mdc-top-app-bar__action-item"
        aria-describedby="{{ button_tooltip_id }}" href="{{ button.link | prepend: site.baseurl }}">
        <div class="mdc-icon-button__ripple"></div>
        {{ button.icon }}
      </a>
      {%- else -%}
      <a class="material-icons-outlined mdc-top-app-bar__action-item mdc-icon-button"
        aria-describedby="{{ button_tooltip_id }}" href="{{ button.link }}">
        <div class="mdc-icon-button__ripple"></div>
        {{ button.icon }}
      </a>
      {%- endif -%}
      {%- else -%}
      <button class="material-icons-outlined mdc-top-app-bar__action-item mdc-icon-button"
        aria-describedby="{{ button_tooltip_id }}"
        id="{{ button_id }}">
        <div class="mdc-icon-button__ripple"></div>
        {{ button.icon }}
      </button>
      {%- endif -%}
      {%- endfor -%}
      {%- endif -%}
      <button id="print-btn" class="material-icons-outlined mdc-top-app-bar__action-item mdc-icon-button"
        aria-describedby="print-btn-tooltip">
        <div class="mdc-icon-button__ripple"></div>
        print
      </button>
      <div class="mdc-menu-surface--anchor">
        <button class="material-icons-outlined mdc-top-app-bar__action-item mdc-icon-button"
          aria-describedby="more-actions-btn-tooltip">
          <div class="mdc-icon-button__ripple"></div>
          more_vert
        </button>
        <div class="mdc-menu mdc-menu-surface" id="more-actions-menu">
          <div class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
            <a class="mdc-list-item" href="{% github_edit_link %}" data-mdc-auto-init="MDCRipple">
              <span class="material-icons-outlined mdc-list-item__graphic" aria-hidden="true">edit</span>
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Edit this page on GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
