<header class="mdc-top-app-bar mdc-top-app-bar--fixed" id="app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button role="button" class="material-icons mdc-top-app-bar__navigation-icon">menu</button>
      <span class="mdc-top-app-bar__title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</span>
    </section>

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-typography" role="toolbar">
      <button id="print-btn" class="material-icons mdc-top-app-bar__action-item" aria-label="Print this page" title="Print this page">print</button>
    </section>
  </div>
</header>
