<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    {%- for post in paginator.posts -%}
    {%- assign author = site.data.authors[post.author] -%}
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <div class="mdc-card card">
        <a class="mdc-card__primary-action" data-mdc-auto-init="MDCRipple" href="{{ post.url | prepend: site.baseurl }}">
          {%- if post.image -%}
          <img class="mdc-card__media mdc-card__media--16-9 card__media" src="{{post.image | prepend: site.baseurl}}">
          {%- endif -%}
          <div class="card__primary">
            {%- if post.categories -%}
            <h5 class="card__overline mdc-typography--overline">
              {%- for category in post.categories -%}
              {%- if category != "blog" or category != "til" -%}
              {{ category }}
              {%- if forloop.last == false -%}
              ,&nbsp;
              {%- endif -%}
              {%- endif -%}
              {%- endfor -%}
            </h5>
            {%- endif -%}
            <h2 class="card__title mdc-typography--headline6">{{post.title}}</h2>
            {%- if author -%}
            <h3 class="card__subtitle mdc-typography--subtitle2">by {{author.name}}</h3>
            {%- endif -%}
            {%- if post.date -%}
            <h3 class="card__subtitle mdc-typography--subtitle2">{{post.date | date_to_string}}</h3>
            {%- endif -%}
          </div>
          {%- if post.excerpt and post.show_excerpt -%}
          <div class="card__secondary">
            {{post.excerpt | strip_html}}
          </div>
          {%- endif -%}
        </a>
        <div class="mdc-chip-set">
          {%- for tag in post.tags -%}
          <a class="mdc-chip" tabindex="0" href="/blog/tagged/{{tag}}" data-mdc-auto-init="MDCRipple">
            <span class="material-icons-outlined mdc-chip__icon mdc-chip__icon--leading">label</span>
            <div class="mdc-chip__text">{{tag}}</div>
          </a>
          {%- endfor -%}
        </div>
        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <a class="mdc-button mdc-card__action mdc-card__action--button" href="{{ post.url | prepend: site.baseurl }}"
              data-mdc-auto-init="MDCRipple">
              <span class="mdc-button__label">Read more</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>

<!-- Pagination links -->
<div class="pagination mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  {%- if paginator.previous_page -%}
  <a href="{{ paginator.previous_page_path }}" class="mdc-icon-button material-icons-outlined">navigate_before</a>
  {%- else -%}
  <button class="mdc-icon-button material-icons-outlined" disabled>navigate_before</button>
  {%- endif -%}
  {%- for pageNum in (1..paginator.total_pages) -%}
  {%- if paginator.page == pageNum -%}
  <button class="mdc-button" disabled>{{pageNum}}</button>
  {%- else -%}
  <a href="/blog/{%-if pageNum > 1-%}page/{{pageNum}}{%- else -%}{%-endif-%}" class="mdc-button" data-mdc-auto-init="MDCRipple">{{pageNum}}</a>
  {%- endif -%}
  {%- endfor -%}
  {%- if paginator.next_page -%}
  <a href="{{ paginator.next_page_path }}" class="mdc-icon-button material-icons-outlined">navigate_next</a>
  {%- else -%}
  <button class="mdc-icon-button material-icons-outlined" disabled>navigate_next</button>
  {%- endif -%}
</div>
