{% for post in paginator.posts %}
<div class="mdc-card post-card">
  <a class="mdc-card__primary-action" data-mdc-auto-init="MDCRipple" href="{{ post.url | prepend: site.baseurl }}">
    <div class="post-card__primary">
      <h2 class="post-card__title mdc-typography--headline6">{{post.title}}</h2>
      {% if post.author %}
      <h3 class="post-card__subtitle mdc-typography--subtitle2">by {{post.author}}</h3>
      {% elsif post.date %}
      <h3 class="post-card__subtitle mdc-typography--subtitle2">{{post.date | date_to_string}}</h3>
      {% endif %}
    </div>
    {% if post.excerpt %}
    <div class="post-card__secondary">
      <p class="mdc-typography__body2">{{post.excerpt}}</p>
      <div class="mdc-chip-set">
        {% for tag in post.tags %}
        <div class="mdc-chip" tabindex="0">
          <i class="material-icons mdc-chip__icon mdc-chip__icon--leading">label</i>
          <div class="mdc-chip__text">{{tag}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </a>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <a class="mdc-button mdc-card__action mdc-card__action--button" href="{{ post.url | prepend: site.baseurl }}"
        data-mdc-auto-init="MDCRipple">Read more</a>
    </div>
    <div class="mdc-card__action-icons">
      <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
    </div>
  </div>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="mdc-icon-button material-icons">navigate_before</a>
  {% else %}
  <button class="mdc-icon-button material-icons" disabled>navigate_before</button>
  {% endif %}
  {% for pageNum in (1..paginator.total_pages) %}
  {% if paginator.page == pageNum %}
  <button class="mdc-button" disabled>{{pageNum}}</button>
  {% else %}
  <a href="/blog/{%if pageNum > 1%}page/{{pageNum}}{% else %}{%endif%}" class="mdc-button">{{pageNum}}</a>
  {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="mdc-icon-button material-icons">navigate_next</a>
  {% else %}
  <button class="mdc-icon-button material-icons" disabled>navigate_next</button>
  {% endif %}
</div>
