<h3 class="mdc-list-group__subheader">Info about {{ page.game_title }}</h3>
<ul class="mdc-list mdc-list--two-line">
  {%- if page.game_developer -%}
  <li class="mdc-deprecated-list-item">
    <span class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true">account_box</span>
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">Developer</span>
      <span class="mdc-deprecated-list-item__secondary-text">{{ page.game_developer }}</span>
    </span>
  </li>
  {%- endif -%}
  {%- if page.game_website -%}
  <a class="mdc-deprecated-list-item" href="{{ page.game_website }}" data-mdc-auto-init="MDCRipple">
    <span class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true">link</span>
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">Website</span>
      <span class="mdc-deprecated-list-item__secondary-text">Visit the game's website</span>
    </span>
    <span class="material-icons-outlined mdc-deprecated-list-item__meta" aria-hidden="true">open_in_new</span>
  </a>
  {%- endif -%}
  {%- if page.game_soundtrack -%}
  <a href="{{ page.game_soundtrack }}" class="mdc-deprecated-list-item" data-mdc-auto-init="MDCRipple">
    <span class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true">music_note</span>
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">Soundtrack</span>
      <span class="mdc-deprecated-list-item__secondary-text">Listen to the game's soundtrack</span>
    </span>
    <span class="material-icons-outlined mdc-deprecated-list-item__meta" aria-hidden="true">open_in_new</span>
  </a>
  {%- endif -%}
  {%- if page.game_trailer -%}
  <a href="{{ page.game_trailer }}" class="mdc-deprecated-list-item" data-mdc-auto-init="MDCRipple">
    <span class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true">movie</span>
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">Trailer</span>
      <span class="mdc-deprecated-list-item__secondary-text">Watch the game's trailer</span>
    </span>
    <span class="material-icons-outlined mdc-deprecated-list-item__meta" aria-hidden="true">open_in_new</span>
  </a>
  {%- endif -%}
  {%- if page.game_genre -%}
  <li class="mdc-deprecated-list-item">
    <span class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true">category</span>
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">Genre</span>
      <span class="mdc-deprecated-list-item__secondary-text">{{ page.game_genre }}</span>
    </span>
  </li>
  {%- endif -%}
  {%- if page.game_age_rating -%}
  <li class="mdc-deprecated-list-item">
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">Age rating</span>
      <span class="mdc-deprecated-list-item__secondary-text">{{ page.game_age_rating }}</span>
    </span>
  </li>
  {%- endif -%}
  {%- if page.game_release_date -%}
  <li class="mdc-deprecated-list-item">
    <span class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true">calendar_today</span>
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">Release date</span>
      <span class="mdc-deprecated-list-item__secondary-text">{{ page.game_release_date | date_to_long_string }}</span>
    </span>
  </li>
  {%- endif -%}
</ul>
<h3 class="mdc-list-group__subheader">Game Availability</h3>
<ul class="mdc-list mdc-list--two-line">
  {%- if page.game_os_availability -%}
  {%- for os in page.game_os_availability -%}
  <li class="mdc-deprecated-list-item">
    {%- if os.os_type == 'windows' -%}
    <!-- See https://materialdesignicons.com/icon/windows -->
    <svg class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true" viewBox="0 0 24 24">
      <path
        d="M3,12V6.75L9,5.43V11.91L3,12M20,3V11.75L10,11.9V5.21L20,3M3,13L9,13.09V19.9L3,18.75V13M20,13.25V22L10,20.09V13.1L20,13.25Z" />
    </svg>
    {%- elsif os.os_type == 'macos' -%}
    <svg class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true" viewBox="0 0 24 24">
      <!-- See https://materialdesignicons.com/icon/apple -->
      <path
        d="M18.71,19.5C17.88,20.74 17,21.95 15.66,21.97C14.32,22 13.89,21.18 12.37,21.18C10.84,21.18 10.37,21.95 9.1,22C7.79,22.05 6.8,20.68 5.96,19.47C4.25,17 2.94,12.45 4.7,9.39C5.57,7.87 7.13,6.91 8.82,6.88C10.1,6.86 11.32,7.75 12.11,7.75C12.89,7.75 14.37,6.68 15.92,6.84C16.57,6.87 18.39,7.1 19.56,8.82C19.47,8.88 17.39,10.1 17.41,12.63C17.44,15.65 20.06,16.66 20.09,16.67C20.06,16.74 19.67,18.11 18.71,19.5M13,3.5C13.73,2.67 14.94,2.04 15.94,2C16.07,3.17 15.6,4.35 14.9,5.19C14.21,6.04 13.07,6.7 11.95,6.61C11.8,5.46 12.36,4.26 13,3.5Z" />
    </svg>
    {%- elsif os.os_type == 'linux' -%}
    <svg class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true" viewBox="0 0 24 24">
      <!-- See https://materialdesignicons.com/icon/linux -->
      <path
        d="M14.62,8.35C14.2,8.63 12.87,9.39 12.67,9.54C12.28,9.85 11.92,9.83 11.53,9.53C11.33,9.37 10,8.61 9.58,8.34C9.1,8.03 9.13,7.64 9.66,7.42C11.3,6.73 12.94,6.78 14.57,7.45C15.06,7.66 15.08,8.05 14.62,8.35M21.84,15.63C20.91,13.54 19.64,11.64 18,9.97C17.47,9.42 17.14,8.8 16.94,8.09C16.84,7.76 16.77,7.42 16.7,7.08C16.5,6.2 16.41,5.3 16,4.47C15.27,2.89 14,2.07 12.16,2C10.35,2.05 9,2.81 8.21,4.4C8,4.83 7.85,5.28 7.75,5.74C7.58,6.5 7.43,7.29 7.25,8.06C7.1,8.71 6.8,9.27 6.29,9.77C4.68,11.34 3.39,13.14 2.41,15.12C2.27,15.41 2.13,15.7 2.04,16C1.85,16.66 2.33,17.12 3.03,16.96C3.47,16.87 3.91,16.78 4.33,16.65C4.74,16.5 4.9,16.6 5,17C5.65,19.15 7.07,20.66 9.24,21.5C13.36,23.06 18.17,20.84 19.21,16.92C19.28,16.65 19.38,16.55 19.68,16.65C20.14,16.79 20.61,16.89 21.08,17C21.57,17.09 21.93,16.84 22,16.36C22.03,16.1 21.94,15.87 21.84,15.63" />
    </svg>
    {%- elsif os.os_type == 'android' -%}
    <span class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true">android</span>
    {%- elsif os.os_type == 'ios' -%}
    <svg class="material-icons-outlined mdc-deprecated-list-item__graphic" aria-hidden="true" viewBox="0 0 24 24">
      <!-- See https://materialdesignicons.com/icon/apple-ios -->
      <path
        d="M20,9V7H16A2,2 0 0,0 14,9V11A2,2 0 0,0 16,13H18V15H14V17H18A2,2 0 0,0 20,15V13A2,2 0 0,0 18,11H16V9M11,15H9V9H11M11,7H9A2,2 0 0,0 7,9V15A2,2 0 0,0 9,17H11A2,2 0 0,0 13,15V9A2,2 0 0,0 11,7M4,17H6V11H4M4,9H6V7H4V9Z" />
    </svg>
    {%- endif -%}
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">
        {%- if os.os_type == 'macos' -%}
        macOS
        {%- else -%}
        {{ os.os_type | capitalize }}
        {%- endif -%}
      </span>
      <span class="mdc-deprecated-list-item__secondary-text">
        {%- if os.os_minimum or os.os_maximum -%}
        {%- if os.os_minimum -%}
        Minimum supported version: {{ os.os_minimum }}
        {%- endif -%}
        {%- if os.os_minimum and os.os_maximum -%}
        ,&nbsp;
        {%- endif -%}
        {%- if os.os_maximum -%}
        maximum supported version: {{ os.os_maximum }}
        {%- endif -%}
        {%- else -%}
        Supported
        {%- endif -%}
      </span>
    </span>
  </li>
  {%- endfor -%}
  {%- endif -%}
  {%- if page.game_price -%}
  <li role="separator" class="mdc-list-divider"></li>
  <li class="mdc-deprecated-list-item">
    <span class="material-icons-outlined mdc-deprecated-list-item__graphic"
      aria-hidden="true">{%- if page.game_price == 'free' -%}money_off{%- else -%}attach_money{%- endif -%}</span>
    <span class="mdc-deprecated-list-item__text">
      <span class="mdc-deprecated-list-item__primary-text">Price</span>
      <span class="mdc-deprecated-list-item__secondary-text">{{ page.game_price }}</span>
    </span>
  </li>
  {%- endif -%}
</ul>
