<!DOCTYPE html>
<html lang="en" ng-app="instagramLinksApp">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Webmaster-->
		<meta name="google-site-verification" content="vUIz5bcO8VS4oqWX-A9VBtLKrqwl5ZrnbuUw4serhEU">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Instagram Links | Chan4077.Github.io</title>
		<!--Import-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.6/angular-material.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.6/angular-material.min.css">
		<script src="/lib/dependencies.js"></script>
		<script src="/lib/instagram_links.js"></script>
	</head>

	<body>
		<site-sidenav selected-item="'Instagram Links'"></site-sidenav>
		<site-toolbar toolbar-title="'Instagram Links'"></site-toolbar>
		<md-content layout="column" ng-controller="MainController" class="md-padding" ng-cloak>
			<md-card ng-repeat="link in links" id="{(link.linkId)}">
				<md-card-header>
					<md-card-header-text>
						<span class="md-title">Post</span>
						<span class="md-subhead">{(link.postDate | date)}</span>
					</md-card-header-text>
					<span flex></span>
					<md-button class="md-icon-button md-accent" ng-href="{(link.postUrl)}">
						<md-icon md-svg-icon="open-in-new"></md-icon>
						<md-tooltip>View original post</md-tooltip>
					</md-button>
				</md-card-header>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{(link.postTitle)}</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button
						ng-repeat="action in link.linkActions"
						ng-href="{(action.btnLink)}">
						<md-icon md-svg-icon="{(action.btnIcon)}" ng-if="action.btnIcon"></md-icon>
						{(action.btnText)}
					</md-button>
				</md-card-actions>
			</md-card>
		</md-content>
		<site-speed-dial></site-speed-dial>
	</body>

</html>