<!DOCTYPE html>
<html lang="en" ng-app="instagramLinksApp">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Instagram Links | Chan4077.Github.io">
    <meta name="description" content="This subpage is dedicated for links from Instagram, since Instagram doesn't support links in a post's description.">
    <meta name="keywords" content="instagram, chan4077, EdricChan03, instagram-links, instalinks">
    <meta name="url" content="https://chan4077.github.io">
    <meta name="theme-color" content="#3F51B5">
    <!-- For website crawling -->
    <meta name="og:title" content="Instagram Links | Chan4077.Github.io">
    <meta name="og:description" content="This subpage is dedicated for links from Instagram, since Instagram doesn't support links in a post's description.">
    <meta name="og:image" content="https://chan4077.github.io/img/art/instagram_img.png">
    <!--Webmaster-->
    <meta name="google-site-verification" content="vUIz5bcO8VS4oqWX-A9VBtLKrqwl5ZrnbuUw4serhEU">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram Links | Chan4077.Github.io</title>
    <!--Import-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,400i,500,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-messages.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.css">
    <script src="/lib/dependencies.js"></script>
    <script src="/lib/instagram_links.js"></script>
  </head>

  <body>
    <site-sidenav selected-item="'Instagram Links'"></site-sidenav>
    <site-toolbar toolbar-title="'Instagram Links'"></site-toolbar>
    <md-content layout="column" ng-controller="MainController" class="md-padding" ng-cloak>
      <md-card ng-repeat="link in links" id="{(link.linkId)}">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">Post</span>
            <span class="md-subhead">{(link.postDate | date)}</span>
          </md-card-header-text>
          <span flex></span>
          <md-button class="md-icon-button md-accent" ng-href="{(link.postUrl)}">
            <md-icon md-svg-icon="open-in-new"></md-icon>
            <md-tooltip>View original post</md-tooltip>
          </md-button>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{(link.postTitle)}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-repeat="action in link.linkActions" ng-href="{(action.btnLink)}" hide-xs>
            <md-icon md-svg-icon="{(action.btnIcon)}" ng-if="action.btnIcon">
            </md-icon>
            {(action.btnText)}
          </md-button>
          <md-button ng-repeat="action in link.linkActions" ng-href="{(action.btnLink)}" hide show-xs class="md-icon-button">
            <md-icon md-svg-icon="{(action.btnIcon)}">
            </md-icon>
            <md-tooltip>
              {(action.btnText)}
            </md-tooltip>
          </md-button>

        </md-card-actions>
      </md-card>
    </md-content>
    <site-speed-dial></site-speed-dial>
  </body>

</html>