<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h3 class="md-title">Reply to {(item.author)}</h3>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<form name="replyForm">
			<md-list>
				<md-list-item class="md-2-line">
					<img src="{(item.imgSrc)}" class="md-avatar">
					<div class="md-list-item-text">
						<h3>{(item.author)}</h3>
						<p>{(item.text)}</p>
					</div>
				</md-list-item>
			</md-list>
			<md-input-container class="md-block">
				<label>Reply back</label>
				<textarea ng-model="replyMsg" name="replyMsg" required></textarea>
				<div ng-messages="replyForm.replyMsg.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>
		</div>
	</form>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="close()" class="md-primary">
			Cancel
		</md-button>
		<md-button ng-click="close()" class="md-primary" ng-disabled="replyForm.$invalid">
			Reply
		</md-button>
	</md-dialog-actions>
</md-dialog>,