---
layout: default
title: Edric Chan's Blog
---
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="/angularJS/blog.js"></script>
</head>
<body>
<md-content ng-controller="PostController">
      <md-card ng-repeat="post in posts">
        <md-card-header>
          <md-card-avatar>
            <img src="../img/profile_1.svg"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{post.author}}</span>
            <span class="md-subhead">{{post.job}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{post.headline}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            {{post.article}}
          </p>
        </md-card-content>
      </md-card>
  </md-content>
<h1>{{ page.title }}</h1>
<ul class="posts">

    {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &gt; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}

</ul>
</body>