<html ng-app="todoApp">

<head>
    <!--Import-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/lib/todo.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="favicon.ico" rel="shortcut icon">
</head>

<body>
    <style>
        .done-true {
            text-decoration: line-through;
            color: grey;
        }
    </style>
    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
        <span>{(todoList.remaining())} of {(todoList.todos.length)} remaining</span> [ <a href="" ng-click="todoList.archive()">archive</a>        ]
        <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
                <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{(todo.done)}">{(todo.text)}</span>
          </label>
            </li>
        </ul>
        <form ng-submit="todoList.addTodo()" name="addTodo">
            <md-input-container>
                <label>Add Item</label>
                <input ng-model="todoList.text" required>
                <div ng-messages="addTodo.text.$error">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-button class="md-primary md-raised" type="submit">Add Todo</md-button>
        </form>
    </div>
	<!--The toast for when offline and online-->
	<network-toast></network-toast>
</body>
<!--Scripts-->
<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82448435-1', 'auto');
  ga('send', 'pageview');
</script>

</html>