<!DOCTYPE html>
<!--WARNING: This is beta and might break, change or otherwise be modified
Made with Angular Material and Angular-->
<html ng-app="testApp">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="description" content="The BETA page. This is where I test on Angular Material.">
    <meta name="author" content="Edric Chan">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <script src="/angular/app.js"></script>
    <link rel="stylesheet" href="./test.css">
    <title>Beta - Chan4077.Github.io</title>
    <!--Import Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div layout="column" ng-controller="MainController" ng-cloak>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Side Navigation" ng-click="openLeftMenu()">
                <md-icon md-svg-icon="/img/menu-24.svg"></md-icon>
            </md-button>
            <h2 class="md-flex">
                Chan4077.Github.io BETA
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="/img/more_vert-24.svg"></md-icon>
            </md-button>
    </md-toolbar>
        </div>
                <md-content layout="column" flex class="md-padding">
        Center Content
        <md-button ng-click="openRightMenu()" class="md-primary md-raised" id="feedback_btn">
            Enter Your Feedback
        </md-button>
        <div class="lock-size" layout="row" layout-align="bottom right">
            <md-fab-speed-dial md-direction="up" class="md-fling">
                <md-fab-trigger>
                    <md-button aria-label="add" class="md-fab md-primary">
                        <md-icon md-svg-src="/img/add-24.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="Add User" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="/img/person_add-24.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Add Group" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="/img/group-24.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>

    </md-content>
    <div ng-controller="SideNavController">
        <md-sidenav md-component-id="left" class="md-sidenav-left">
            <md-content class="md-default-theme">
                <md-list role="list" class="md-default-theme">
                    <md-list-item ng-repeat="sidenav in urls">
                        <md-button ng-href="{{sidenav.url}}" class="md-button md-ink-ripple ng-binding md-primary">
                            <div flex layout="row" class="ng-binding layout-row flex">
                                <md-icon ng-style="{color: sidenav.color_icon}" class="material-icons">{{sidenav.icon}}</md-icon>
                                <span flex class="flex"></span>
                            </div>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
    <md-sidenav md-component-id="right" class="md-sidenav-right">
        <form name="feedbackbeta">
            <label style="color:red;">* Required</label>
            <br>
            <md-input-container>
                <label>Name <span style="color: red;">*</span></label>
                <input name="name" type="text" ng-model="name" md-autofocus required>
                <div ng-messages="feedbackbeta.name.$error" ng-show="!feedbackbeta.name.$dirty">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Email <span style="color: blue;">(optional)</span></label>
            </md-input-container>
            <md-input-container>
                <label>Feedback <span style="color: red;">*</span></label>
                <textarea name="feedback" ng-model="sendFeedback" required md-maxlength="150"></textarea>
                <div ng-messages="feedback.sendFeedback.$error" ng-show="!feedbackbeta.sendFeedback.$dirty">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-button ng-disabled="feedbackbeta.$invalid" class="md-primary" type="submit">Submit</md-button>
            <md-button ng-disabled="feedbackbeta.$valid" class="md-warn" type="Reset">Reset</md-button>
        </form>
    </md-sidenav>
</div>

</html>