<!DOCTYPE html>
<html ng-app="testApp">

<head>
    <link rel="stylesheet" href="/css/angular-material.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/website.ico">
    <meta name="description" content="The Beta page. This is where I test on Angular Material.">
    <meta name="author" content="Edric Chan">
    <!--Open Graph-->
    <meta property="og:description" content="The Beta page. This is where I test on Angular Material.">
    <meta property="og:title" content="Beta - Chan4077.Github.io">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://chan4077.github.io/angular/test.html">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-aria.min.js"></script>
    <script src="/js/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="/js/angular-material.min.js"></script>
    <script src="/js/test.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/css/test.css">
    <title>Beta - Chan4077.Github.io</title>
</head>

<body>
    <div layout="column" ng-controller="MainController" ng-cloak id="popupContainer">
        <!--mdToolbar-->
        <md-toolbar class="yellow" md-scroll-shrink>
            <div class="md-toolbar-tools">
                <!--Sidenav Button-->
                <md-button class="md-icon-button" aria-label="Side Navigation" ng-click="openLeftMenu()">
                    <md-tooltip>
                        Side Navigation
                    </md-tooltip>
                    <md-icon md-svg-icon="menu" aria-label="menu"></md-icon>
                </md-button>
                <h2 class="md-flex">
                    Chan4077.Github.io BETA
                </h2>
                <span flex></span>
                <!--Refresh-->
                <md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshPage()">
                    <md-tooltip>
                        Refresh
                    </md-tooltip>
                    <md-icon md-svg-icon="refresh" aria-label="refresh"></md-icon>
                </md-button>
                <!--mdMenu-->
                <md-menu>
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-tooltip>
                            More
                        </md-tooltip>
                        <md-icon md-svg-icon="dots-vertical"></md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="whats_new($event)">
                                <md-icon md-svg-icon="alert-octagon" md-menu-align-target></md-icon>
                                What's New
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="settings($event)">
                                <md-icon md-svg-icon="settings" md-menu-align-target></md-icon>
                                Settings
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="">
                                <md-icon md-svg-icon="alert" md-menu-align-target></md-icon>
                                Report A Problem
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="about_site()">
                                <md-icon md-svg-icon="help-circle-outline" md-menu-align-target></md-icon>
                                About This Site
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
        </md-toolbar>
        </div>
        <md-content layout="column" flex class="md-padding" layout-padding>
            <h2>I would like to hear your feedback! Enter it below!</h2>
            <form name="feedbackbeta" class="form">
                <label style="color:red;">* Required</label>
                <br>
                <md-input-container class="md-icon-float md-block">
                    <label>Name</label>
                    <md-icon md-svg-icon="account" class="mdi-dark"></md-icon>
                    <input name="name" type="text" ng-model="feedback.name" md-autofocus required>
                    <div ng-messages="feedbackbeta.name.$error">
                        <div ng-message="required">This is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <md-icon md-svg-icon="email" class="mdi-dark"></md-icon>
                    <label>Email</label>
                    <input name="email" type="email" ng-model="feedback.email" required>
                    <div ng-messages="feedbackbeta.email.$error">
                        <div ng-message="email">Please input a valid email address.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Feedback</label>
                    <md-icon md-svg-icon="message-alert" class="mdi-dark"></md-icon>
                    <textarea name="feedback" ng-model="feedback.sendFeedback" required md-maxlength="150" rows="5"></textarea>
                    <div ng-messages="feedback.sendFeedback.$error">
                        <div ng-message="required">This is required</div>
                        <div ng-message="md-maxlength">Your feedback is too long.</div>
                    </div>
                </md-input-container>
                <br>
                <md-button ng-disabled="feedbackbeta.$invalid" class="md-primary" type="submit" ng-click="submitForm()">
                    <md-tooltip>
                        Submit
                    </md-tooltip>
                    Submit
                </md-button>
                <md-button class="md-warn" ng-click="reset(); resetForm()">
                    <md-tooltip>
                        Reset Form
                    </md-tooltip>
                    Reset
                </md-button>
            </form>
            <md-switch aria-label="Enable Form Debug" ng-model="switch.form_debug">Show Form Debug</md-switch>
            <div class="form_debug" ng-show="switch.form_debug">
                feedback.name = <code>{{feedback.name}}</code>
                <br> feedback.email = <code>{{feedback.email}}</code>
                <br> feedback.sendFeedback = <code>{{feedback.sendFeedback}}</code>
                <br> feedback.$invalid = <code>{{feedbackbeta.$invalid}}</code>
            </div>
            <!--FAB Speed Dial-->
            <md-content class="md-padding" layout="row">
                <md-fab-speed-dial md-direction="top" class="md-fling">
                    <md-fab-trigger>
                        <md-button aria-label="Add" class="md-fab md-primary md-fab-bottom-right">
                            <md-icon md-svg-icon="plus"></md-icon>
                        </md-button>
                    </md-fab-trigger>

                    <md-fab-actions>
                        <md-button aria-label="Add User" class="md-fab md-mini md-accent">
                            <md-icon md-svg-icon="account-plus"></md-icon>
                        </md-button>

                        <md-button aria-label="Add Group" class="md-fab md-mini md-accent">
                            <md-icon md-svg-icon="account-multiple-plus"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </md-content>
        </md-content>
    </div>
    <!--Sidenav-->
    <div ng-controller="SideNavController">
        <md-sidenav md-component-id="left" class="md-sidenav-left" md-whiteframe="4">
            <md-content class="md-default-theme">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="url in top" role="link" ng-href="{{ url.url }}" ng-click="openLeftMenu()">
                        <md-icon aria-label="{{url.title}}" md-svg-icon="{{ url.icon }}"></md-icon>
                        <div class="md-list-item-text">
                            <span class="md-body-2">{{url.title}}</span>
                        </div>
                    </md-list-item>

                    <md-divider></md-divider>
                    <md-subheader>Other</md-subheader>
                    <md-list-item class="md-2-line" ng-repeat="url in other" role="link" ng-href="{{url.url}}" ng-click="openLeftMenu()">
                        <md-icon aria-label="{{url.title}}" md-svg-icon="{{url.icon}}"></md-icon>
                        <div class="md-list-item-text">
                            <span class="md-body-2">{{url.title}}</span>
                        </div>
                    </md-list-item>

                    <md-divider></md-divider>
                    <md-subheader>Made With</md-subheader>
                    <md-list-item class="md-2-line" ng-repeat="url in made" role="link" ng-href="{{url.url}}" ng-click="openLeftMenu()">
                        <md-icon aria-label="{{url.title}}" md-svg-icon="{{url.icon}}"></md-icon>
                        <div class="md-list-item-text">
                            <span class="md-body-2">{{url.title}}</span>
                        </div>
                    </md-list-item>

                </md-list>
            </md-content>
        </md-sidenav>
    </div>
</body>
<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82448435-1', 'auto');
  ga('send', 'pageview');

if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/sw.js').then(function(registration) {
    // Registration was successful
    console.log('ServiceWorker registration successful with scope: ', registration.scope);
  }).catch(function(err) {
    // registration failed :(
    console.log('ServiceWorker registration failed: ', err);
  });
}

</script>

</html>