/* .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
*/
code {
    font-family: "Source Code Pro", monospace;
    color: #106CC8;
    margin-left: 1px;
    margin-right: 1px;
    -webkit-font-smoothing: auto;
    padding: 0.125em 0.35em;
    border-radius: 2px;
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.065)
}