<md-dialog aria-label="Send Feedback" style="width:800px;height:810px;">
	<form ng-cloak name="feedbackhelp" autocomplete="off">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Send Feedback</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="help()" aria-label="Help">
					<md-icon md-svg-icon="help"></md-icon>
					<md-tooltip>Help</md-tooltip>
				</md-button>
				<md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
					<md-icon md-svg-icon="close"></md-icon>
					<md-tooltip>Close</md-tooltip>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width:800px;max-height:810px;">
			<md-tabs md-border-bottom>
				<md-tab label="General Feedback">
					<md-content class="md-padding">
						<h1 class="md-display-2">Send your feedback about this site!</h1>
						<label style="color:red;">* Required</label>
						<br>
						<md-input-container class="md-icon-float md-block">
							<label>Name</label>
							<md-icon md-svg-icon="account"></md-icon>
							<input name="name" type="text" ng-model="feedback.name" md-autofocus required>
							<div ng-messages="feedbackhelp.name.$error">
								<div ng-message="required">This is required</div>
							</div>
						</md-input-container>
						<md-input-container class="md-icon-float md-block">
							<md-icon md-svg-icon="email"></md-icon>
							<label>Email</label>
							<input name="email" type="email" ng-model="feedback.email" required>
							<div ng-messages="feedbackhelp.email.$error">
								<div ng-message="required">This is required</div>
								<div ng-message="email">Please input a valid email address.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Feedback</label>
							<md-icon md-svg-icon="message-alert"></md-icon>
							<textarea name="feedback" ng-model="feedback.sendFeedback" required md-maxlength="150" rows="3"></textarea>
							<div ng-messages="feedbackhelp.sendFeedback.$error">
								<div ng-message="required">This is required</div>
								<div ng-message="md-maxlength">Your feedback is too long.</div>
							</div>
						</md-input-container>
						<p class="note"><strong>Note:</strong> This form is currently not working. Don't expect it to work!</p>
						<p class="note"><strong>Note:</strong> The <span class="code">Submit</span> button is disabled with <code>ng-disabled</code>.</p>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()" aria-label="Cancel">
				Cancel
			</md-button>
			<md-button class="md-warn" ng-click="reset()" aria-label="Reset">
				Reset
			</md-button>
			<md-button ng-disabled="feedbackhelp.$invalid" class="md-primary" type="submit" ng-click="submitForm()">
				Submit
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>