<md-dialog aria-label="Settings">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Settings</h2>
				<span flex></span>
				<md-button aria-label="Help" class="md-icon-button">
					<md-tooltip>Help</md-tooltip>
					<md-icon md-svg-icon="help" aria-label="help"></md-icon>
				</md-button>
				<md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
					<md-icon md-svg-icon="close" aria-label="close"></md-icon>
					<md-tooltip>Close</md-tooltip>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<h1>Settings</h1>
				<md-subheader>General</md-subheader>
				<md-switch ng-model="general_settings.proBar" aria-label="Enable Progress Bar">Enable Progress Bar <strong>(Default: true)</strong></md-switch>
				Enable Progress Bar: {{general_settings.proBar}}
				<md-switch ng-model="general_settings.enableSound" aria-label="Enable Sound">Enable Sound <strong>(Default: true)</strong></md-switch>
				Enable Sound: {{general_settings.enableSound}}
				<br>
				<md-subheader>Developer</md-subheader>
				<md-switch ng-model="developer_settings.consoleLog" aria-label="Enable Console logging">Enable Console Logging <strong>(Default: false)</strong></md-switch>
				Enable Console Logging: {{developer_settings.consoleLog}}
				<md-switch ng-model="developer_settings.showExtraOptions" aria-label="Show Extra Options">Show Extra Options <strong>(Default: false)</strong></md-switch>
				Show Extra Options: {{developer_settings.showExtraOptions}}
				<br>
				<div ng-show="{{developer_settings.showExtraOptions}}">
				<md-subheader>Extra</md-subheader>
				<md-switch ng-model="extra_settings.showCredits" aria-label="Show Credits">Show Credits <strong>(Default: true)</strong></md-switch>
				Show Credits: {{extra_settings.showCredits}}
				<md-switch ng-model="extra_settings.enableOffline" aria-label="Enable Offline" ng-disabled="true">Enable Offline <strong>(Default: true)</strong></md-switch>
				Enable Offline: {{extra_settings.enableOffline}}
				</div>
				<br>
				<md-subheader class="md-warn">Notes</md-subheader>
				<p><strong>Note:</strong> Some of these settings, in fact, all of them, are not currently working at the moment.</p>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="hide()" aria-label="Cancel">Cancel</md-button>
			<md-button ng-click="hide()" class="md-primary" aria-label="Finished">Finished</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>