<md-bottom-sheet layout="column">
	<div layout="row" layout-align="center center">
		<h4>Share via...</h4>
	</div>
	<div layout="column" layout-align="start none">
		<md-list>
			<md-list-item ng-repeat="item in items" ng-click="handleShare()" ng-if="!isMobile && item.showIfDesktop">
				<md-icon md-svg-icon="{(item.icon)}"></md-icon>
				{(item.name)}
				<span flex></span>
			</md-list-item>
			<md-list-item ng-click="shareNatively()">
				<md-icon md-svg-icon="share-variant"></md-icon>
				Other...
				<span flex></span>
			</md-list-item>
		</md-list>
	</div>
</md-bottom-sheet>