<!--Sidenav-->
<div ng-controller="SideNavController">
	<md-sidenav md-component-id="left" class="md-sidenav-left" md-whiteframe="4">
		<md-toolbar class="md-accent" md-scroll-shrink md-whiteframe="1">
			<div class="md-toolbar-tools">
				<h2 class="md-title">Site Links</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="toggleAllLinks()">
					<md-icon md-svg-icon="chevron-up" ng-class="{'toggled': toggledAllLinks}" class="md-toggle-icon"></md-icon>
					<md-tooltip>{{toggledAllLinks ? 'Collapse':'Expand'}} All</md-tooltip>
				</md-button>
			</div>
		</md-toolbar>
		<md-content class="md-default-theme">
			<md-list>
				<md-list-item ng-click="toggleLinks()">
					<p>Sites</p>
					<span flex></span>
					<md-icon md-svg-icon="chevron-up" ng-class="{'toggled': toggledLinks}" class="md-toggle-icon"></md-icon>
				</md-list-item>
				<md-list-item ng-repeat="url in main" role="link" ng-href="{( url.url )}" ng-click="toggleLeftMenu()" ng-show="toggledLinks">
					<md-icon md-svg-icon="{(url.icon)}"></md-icon>
					<span class="title">{(url.title)}</span>
					<span flex></span>
				</md-list-item>

				<md-divider></md-divider>
				<md-list-item ng-click="toggleOtherLinks()">
					<p>Other Sites</p>
					<span flex></span>
					<md-icon md-svg-icon="chevron-up" ng-class="{'toggled': toggledOtherLinks}" class="md-toggle-icon"></md-icon>
				</md-list-item>
				<md-list-item ng-repeat="url in other" role="link" ng-href="{(url.url)}" ng-click="toggleLeftMenu()" ng-show="toggledOtherLinks">
					<md-icon md-svg-icon="{(url.icon)}"></md-icon>
					<span class="title">{(url.title)}</span>
					<span flex></span>
				</md-list-item>

				<md-divider></md-divider>
				<md-list-item ng-click="toggleProjectLinks()">
					<p>Project Sites</p>
					<span flex></span>
					<md-icon md-svg-icon="chevron-up" ng-class="{'toggled': toggledProjectLinks}" class="md-toggle-icon"></md-icon>
				</md-list-item>
				<md-list-item ng-repeat="url in projects" role="link" ng-href="{(url.url)}" ng-click="toggleLeftMenu()" ng-show="toggledProjectLinks">
					<md-icon md-svg-icon="{(url.icon)}"></md-icon>
					<span class="title">{(url.title)}</span>
					<span flex></span>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
</div>