<!--Sidenav-->
<div ng-controller="SideNavController">
	<md-sidenav md-component-id="left" class="md-sidenav-left" md-whiteframe="4">
		<md-content class="md-default-theme">
			<md-list>
				<md-list-item ng-repeat="url in top" role="link" ng-href="{{ url.url }}" ng-click="openLeftMenu()">
					<md-icon aria-label="{{url.title}}" md-svg-icon="{{url.icon}}"></md-icon>
					<span class="title">{{url.title}}</span>
					<span flex></span>
				</md-list-item>

				<md-divider></md-divider>
				<md-subheader>Other</md-subheader>
				<md-list-item ng-repeat="url in other" role="link" ng-href="{{url.url}}" ng-click="openLeftMenu()">
					<md-icon aria-label="{{url.title}}" md-svg-icon="{{url.icon}}"></md-icon>
					<span class="title">{{url.title}}</span>
					<span flex></span>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
</div>