<!--FAB Speed Dial-->
<md-fab-speed-dial class="md-fling md-fab-bottom-right" style="position: fixed;">
	<md-fab-trigger>
		<md-button aria-label="Add" class="md-fab md-primary">
			<md-icon md-svg-icon="plus"></md-icon>
		</md-button>
	</md-fab-trigger>

	<md-fab-actions>
		<md-button aria-label="Add User" class="md-fab md-mini md-accent md-raised">
			<md-icon md-svg-icon="account-plus"></md-icon>
		</md-button>

		<md-button aria-label="Add Group" class="md-fab md-mini md-accent md-raised">
			<md-icon md-svg-icon="account-multiple-plus"></md-icon>
		</md-button>
	</md-fab-actions>
</md-fab-speed-dial>