<!--FAB Speed Dial-->
<md-fab-speed-dial class="md-fling md-fab-bottom-right" style="position: fixed;" md-direction="up">
  <md-fab-trigger>
    <md-button aria-label="Share via..." class="md-fab md-primary">
      <md-icon md-svg-icon="share-variant"></md-icon>
      <md-tooltip md-direction="left">Share via</md-tooltip>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions>
    <md-button aria-label="Share via Facebook" class="md-fab md-mini md-accent md-raised" ng-click="share(1)">
      <md-icon md-svg-icon="facebook"></md-icon>
      <md-tooltip md-direction="left">Facebook</md-tooltip>
    </md-button>

    <md-button aria-label="Share via Google+" class="md-fab md-mini md-accent md-raised" ng-click="share(2)">
      <md-icon md-svg-icon="google-plus"></md-icon>
      <md-tooltip md-direction="left">Google+</md-tooltip>
    </md-button>
    <md-button aria-label="Share via Twitter" class="md-fab md-mini md-accent md-raised" ng-click="share(3)">
      <md-icon md-svg-icon="twitter"></md-icon>
      <md-tooltip md-direction="left">Twitter</md-tooltip>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>