<!--mdToolbar-->
<md-toolbar md-scroll-shrink md-whiteframe="1">
	<div class="md-toolbar-tools">
		<!--Sidenav Button-->
		<md-button class="md-icon-button" aria-label="Side Navigation" ng-click="openLeftMenu()">
			<md-tooltip>
				SideNav
			</md-tooltip>
			<md-icon md-svg-icon="menu" aria-label="menu"></md-icon>
		</md-button>
		<!--Website Logo-->
		<md-icon md-svg-icon="website-logo"></md-icon>
		<!--Some spacing-->
		&nbsp;
		<!--Title-->
		<h2 class="md-flex">
			{{title}}
		</h2>
		<span flex></span>
		<!--Refresh-->
		<md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshPage()">
			<md-tooltip>
				Refresh
			</md-tooltip>
			<md-icon md-svg-icon="refresh"></md-icon>
		</md-button>
		<!--View on Github-->
		<!--Hidden on mobile phones-->
		<md-button class="md-icon-button" aria-label="View on Github" ng-click="viewGithub()" hide-xs>
			<md-tooltip>
				View on Github
			</md-tooltip>
			<md-icon md-svg-icon="github-circle"></md-icon>
		</md-button>
		<!--mdMenu-->
		<md-menu>
			<md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
				<md-tooltip>
					More
				</md-tooltip>
				<md-icon md-menu-origin md-svg-icon="dots-vertical"></md-icon>
			</md-button>
			<md-menu-content>
				<md-menu-item>
					<md-button ng-click="whats_new($event)" aria-label="What's New'">
						<md-icon md-svg-icon="alert-octagon" md-menu-align-target></md-icon>
						What's New
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-click="settings($event)" aria-label="Settings">
						<md-icon md-svg-icon="settings" md-menu-align-target></md-icon>
						Settings
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-click="sendFeedback($event)" aria-label="Send Feedback">
						<md-icon md-svg-icon="message-alert" md-menu-align-target></md-icon>
						Send Feedback
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-click="about_site()" aria-label="About Site">
						<md-icon md-svg-icon="help-circle-outline" md-menu-align-target></md-icon>
						About This Site
					</md-button>
				</md-menu-item>
				<md-menu-item show-xs hide>
					<md-button ng-click="viewGithub()" aria-label="View on Github">
						<md-icon md-svg-icon="github-circle" md-menu-align-target></md-icon>
						View on Github
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>