<md-toolbar md-whiteframe="2" ng-cloak>
  <div class="md-toolbar-tools">
    <!--Sidenav Button-->
    <md-button class="md-icon-button" aria-label="Toggle Side Navigation" ng-click="toggleLeftSidenav()">
      <md-icon md-svg-icon="menu" aria-label="menu"></md-icon>
    </md-button>
    <!--Website Logo-->
    <md-icon md-svg-icon="website-logo"></md-icon>
    <!--Some spacing-->
    &nbsp;
    <!--Title-->
    <h2 class="md-flex">
      {(toolbarTitle ? toolbarTitle : 'Chan4077.Github.io')}
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="View source code" href="{(srcCode ? srcCode: 'https://github.com/Chan4077/chan4077.github.io')}">
      <md-tooltip>
        View source code
      </md-tooltip>
      <md-icon md-svg-icon="code-tags"></md-icon>
    </md-button>
  </div>
</md-toolbar>