<!-- <div class="site-notice" ng-hide="hideAlert" flex layout="row">
	<md-icon md-svg-icon="alert"></md-icon>
	<p>This website will be deprecated soon in favour of the new site.</p>
	<span flex></span>
	<md-button href="https://github.com/Chan4077/chan4077.github.io/issues/34" hide-xs>Learn more</md-button>
	<md-button href="https://githubpageschan4077.firebaseapp.com" class="md-raised" hide-xs>Visit new site</md-button>
	<md-button href="https://github.com/Chan4077/chan4077.github.io/issues/34" hide show-xs class="md-icon-button">
		<md-icon md-svg-icon="information" style="color:white"></md-icon>
		<md-tooltip>Learn more</md-tooltip>
	</md-button>
	<md-button href="https://githubpageschan4077.firebaseapp.com" class="md-icon-button" hide show-xs>
		<md-icon md-svg-icon="open-in-new" style="color:white"></md-icon>
		<md-tooltip>Visit new site</md-tooltip>
	</md-button>
</div> -->
<!--mdToolbar-->
<md-toolbar md-whiteframe="2">
	<div class="md-toolbar-tools">
		<!--Sidenav Button-->
		<md-button class="md-icon-button" aria-label="Toggle Side Navigation" ng-click="toggleLeftMenu()">
			<md-icon md-svg-icon="menu" aria-label="menu"></md-icon>
		</md-button>
		<!--Website Logo-->
		<md-icon md-svg-icon="website-logo"></md-icon>
		<!--Some spacing-->
		&nbsp;
		<!--Title-->
		<h2 class="md-flex">
			{(title)}
		</h2>
		<span flex></span>
		<!--Refresh-->
		<md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshPage()">
			<md-tooltip>
				Refresh
			</md-tooltip>
			<md-icon md-svg-icon="refresh"></md-icon>
		</md-button>
		<!--View source code-->
		<!--Hidden on mobile phones-->
		<md-button class="md-icon-button" aria-label="View source code" ng-click="viewGithub()" hide-xs>
			<md-tooltip>
				View source code
			</md-tooltip>
			<md-icon md-svg-icon="github-circle"></md-icon>
		</md-button>
		<!--mdMenu-->
		<md-menu>
			<md-button class="md-icon-button" aria-label="More" ng-click="$mdMenu.open($event)">
				<md-tooltip>
					More
				</md-tooltip>
				<md-icon md-menu-origin md-svg-icon="dots-vertical"></md-icon>
			</md-button>
			<md-menu-content>
				<md-menu-item>
					<md-button ng-click="sendFeedback()" aria-label="Send Feedback">
						<md-icon md-svg-icon="message-alert" md-menu-align-target></md-icon>
						Send Feedback
					</md-button>
				</md-menu-item>
				<md-menu-item show-xs hide>
					<md-button ng-click="viewGithub()" aria-label="View source code">
						<md-icon md-svg-icon="github-circle" md-menu-align-target></md-icon>
						View source code
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>