<!DOCTYPE html>
<!--
Chan4077.Github.io
All this content is made by me, apart from the Material Design
Get AngularJS Material on your website by heading to https://material.angularjs.org
Text Editor: Visual Studio Code
Website: Github Pages (https://pages.github.com)
Syncing: Github Desktop (https://desktop.github.com)
Original: https://hankquinlan.github.io
Project: https://github.com/Chan4077/chan4077.github.io
Github Profile: https://github.com/Chan4077
Reference: http://www.w3schools.com
My Other Blog: https://chanziyangedric.blogspot.com
Sample code available at https://material.angularjs.org/latest/demo
Material Design Specs: https://material.io/guidelines

MADE WITH HTML5, JAVASCRIPT AND CSS3
-->
<html ng-app="DefaultApp">

	<head>
		<!--Webmaster-->
		<meta name="google-site-verification" content="vUIz5bcO8VS4oqWX-A9VBtLKrqwl5ZrnbuUw4serhEU" />
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,400i,500,700" rel="stylesheet">
		<!--Title-->
		<title>Chan4077.Github.io</title>
		<!--Import-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-aria.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-messages.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.css">
		<script src="/lib/dependencies.js"></script>
		<script src="/lib/main.js"></script>
		<!--CSS-->
		<link rel="stylesheet" href="/css/main.css">
		<!--End Import-->
		<!--Meta Tags-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Edric Chan">
		<meta name="description" content="The default HTML page for all the sites in Chan4077.Github.io.">
		<!--End Meta Tags-->
		<!--Favicon-->
		<link rel="shortcut icon" href="/favicon.ico">
		<!--Base tag: Required by AngularJS-->

	</head>


	<body>
		<site-sidenav></site-sidenav>
		<site-speed-dial></site-speed-dial>
		<md-content ng-controller="DefaultController">
			<site-toolbar></site-toolbar>
			<div class="md-padding">
				{{content}}
			</div>
		</md-content>
		<!--The toast for when offline and online-->
		<network-toast></network-toast>
	</body>
	<!--Scripts-->
	<!--Google Analytics-->
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-82448435-1', 'auto');
		ga('send', 'pageview');
	</script>

</html>