<!DOCTYPE html>
<!--
Chan4077.Github.io
All this content is made by me, apart from the Material Design
Get Material Design on your website by heading to https://getmdl.io
Text Editor: Atom (https://atom.io)
Website: Github Pages (https://pages.github.com)
Syncing: Github Desktop (https://desktop.github.com)
Original: https://hankquinlan.github.io
Project: https://github.com/Chan4077/chan4077.github.io
Github Profile: https://github.com/Chan4077
Reference: http://www.w3schools.com
My Other Blog: https://chanziyangedric.blogspot.com
Sample code available at https://getmdl.io/components/index.html
Material Design Specs: https://material.google.com

MADE WITH HTML5, JAVASCRIPT AND CSS3

-->

<head>
    <!--Title-->
    <title>Chan4077.Github.io</title>
    <!--Import Everything-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.yellow-cyan.min.css">
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Edric Chan">
    <meta http-equiv="refresh" content="30">
    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico">
</head>


<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Chan4077.github.io</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="https://getmdl.io" id="nav1">getmdl.io</a>
                    <div class="mdl-tooltip" data-mdl-for="nav1">
                    Material Design Lite
                </div>
                    <a class="mdl-navigation__link" href="https://github.com/Chan4077" id="nav2">Github.com/Chan4077</a>
                    <div class="mdl-tooltip" data-mdl-for="nav2">
                    My Github Profile
                </div>
                    <a class="mdl-navigation__link" href="https://twitter.com/Chan4077" id="nav3">@Chan4077</a>
                    <div class="mdl-tooltip" data-mdl-for="nav3">
                    Follow @Chan4077<br><span style="color: yellow;">(Twitter)</span>
                </div>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Links</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/" id="home"><i class="material-icons red select">home</i>&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
                <div class="mdl-tooltip" data-mdl-for="home">
                    Home
                </div>
                <a class="mdl-navigation__link" href="/about" id="portfolio"><i class="material-icons orange select">person</i>&nbsp;&nbsp;&nbsp;&nbsp;Portfolio</a>
                <div class="mdl-tooltip" data-mdl-for="portfolio">
                    My Portfolio
                </div>
                <a class="mdl-navigation__link" href="/blog" id="blog"><img src="/img/blogger.png" height="24px" width="24px">&nbsp;&nbsp;&nbsp;&nbsp;Blog</a>
                <div class="mdl-tooltip" data-mdl-for="blog">
                    My Blog
                </div>
                <a class="mdl-navigation__link" href="/media" id="media">Social Media</a>
                <div class="mdl-tooltip" data-mdl-for="media">
                    Social Media Profiles
                </div>
                <a class="mdl-navigation__link" href="/preferences" id="preferences"><i class="material-icons blue select">settings</i>&nbsp;&nbsp;&nbsp;&nbsp;Preferences</a>
                <div class="mdl-tooltip" data-mdl-for="preferences">
                    Preferences<br><span class="wip">Work In Progress</span>
                </div>
                <a class="mdl-navigation__link" href="/angular" id="angular">Angular</a>
                <div class="mdl-tooltip" data-mdl-for="angular">
                    AngularJS
                </div>
                <a class="mdl-navigation__link" href="/angular2-test" id="angular2">Angular2</a>
                <div class="mdl-tooltip" data-mdl-for="angular2">
                    AngularJS2<br><span class="wip">Work In Progress</span>
                </div>
                <a class="mdl-navigation__link" href="https://cse.google.com/cse/publicurl?cx=008864691107536707983:7oybwhkxxsw" id="CSE"
                    target="_blank">Search</a>
                <div class="mdl-tooltip" data-mdl-for="CSE">
                    Search My Blog Posts<br>& Issues
                </div>
                <a class="mdl-navigation__link" id="gitPages" href="https://pages.github.com" target="_blank"><i class="material-icons green select">open_in_new</i>&nbsp;&nbsp;&nbsp;&nbsp;Github Pages</a>
                <div class="mdl-tooltip" data-mdl-for="gitPages">
                    Powered By Github Pages
                </div>
                <a class="mdl-navigation__link" href="https://github.com/Chan4077/chan4077.github.io" target="_blank" id="project"><i class="material-icons green select">open_in_new</i>&nbsp;&nbsp;&nbsp;&nbsp;Project on Github</a>
                <div class="mdl-tooltip" data-mdl-for="project">
                    My Project Page
                </div>

        </div>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">

            {{ content }}

        </div>
    </main>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" id="refresh" onclick="refresh()"><i class="material-icons">refresh</i>Refresh</button>
    <div class="mdl-tooltip" data-mdl-for="refresh">
                    Refresh
                </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" id="main" onclick="home()"><i class="material-icons">home</i>Home</button>
    <div class="mdl-tooltip" data-mdl-for="main">
                    Head Home
                </div>

    <!--Snackbar-->
    <div class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action"></button>
    </div>
    <!--Scripts-->
    <script>
        'use strict';

        function refresh() {
            var notification = document.querySelector('.mdl-js-snackbar');
            var data = {
                message: 'Are you sure you want to refresh?',
                actionHandler: function(event) {
                    location.reload(true);
                },
                actionText: 'OK',
                timeout: 5000
            };
            notification.MaterialSnackbar.showSnackbar(data);
        }

        function home() {
            var notification = document.querySelector('.mdl-js-snackbar');
            var data = {
                message: 'Are you sure you want to go home?',
                actionHandler: function(event) {
                    window.location.href = 'https://chan4077.github.io'; //Go back
                },
                actionText: 'OK',
                timeout: 5000
            };
            notification.MaterialSnackbar.showSnackbar(data);
        }

        function search() {
            var notification = document.querySelector('.mdl-js-snackbar');
            var data = {
                message: 'Are you sure you want to go to Google™ Search?',
                actionHandler: function(event) {
                    window.location.href = 'https://google.com'; //Go back
                },
                actionText: 'OK',
                timeout: 5000
            };
            notification.MaterialSnackbar.showSnackbar(data);
        }

    </script>