<head>
    <!--Title-->
    <title>Chan4077.Github.io's Blog</title>
    <!--Import Everything-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.yellow-cyan.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Favicon-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
    {{ content }}
</div>


<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" onclick="back()"><i class="material-icons">arrow_back</i>Back</button>

<script>
    function back() {
        var notification = document.querySelector('.mdl-js-snackbar');
        var data = {
            message: 'Are you sure you want to go back?',
            actionHandler: function(event) {
                location.href = "/blog";
            },
            actionText: 'OK',
            timeout: 5000
        };
        notification.MaterialSnackbar.showSnackbar(data);
    }
</script>
